body {
  font-family: 'Raleway', sans-serif;
}

.nav-link {
  color: #1b224c !important;
  font-weight: 800;
}

.sbx-logo {
  height: 43px;
}

.presentation-mobile-business-text {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

.presentation-mobile-business-text p {
  margin-bottom: 0;
}

.combined-images-presentation {
  position: relative;
}

.combined-images-presentation img {
  position: absolute;
  right: 0;
  top: 130px;
}

.combined-images-presentation img:first-child {
  top: 250px;
}

.we-do-header {
  color: #fe1a66;
  font-weight: 800;
}

.we-do-subheader {
  color: #424753;
}

.we-do-item {
  display: flex;
  flex-direction: column;
}

.we-do-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}

.we-do-item h5 {
  color: #1b224c;
  font-weight: 800;
  font-size: 16px;
  min-height: 60px
}

.we-do-item p {
  color: #424753;
  font-size: 14px;
}

@media (max-width: 768px) {
  .combined-images-presentation {
    top: -455px;
    min-height: 230px;
  }

  .we-do-item h5 {
    min-height: 40px
  }
}

@media (max-width: 425px) {
  .combined-images-presentation {
    top: -250px;
    min-height: 430px;
  }
}
